**Importación de librerias**

In [1]:
import pandas as pd
import numpy as np

print(F"Versión instalada de pandas = {pd.__version__}")
print(F"Versión instalada de numpy = {np.__version__}")

Versión instalada de pandas = 2.2.2
Versión instalada de numpy = 1.26.4

### Series en Pandas

Una Series es una estructura de datos unidimensional con índices etiquetados. Es como una columna de una tabla o un array con etiquetas.

In [2]:
# Crear Series desde una lista
serie_numeros = pd.Series([10, 20, 30, 40, 50])
print("Serie desde lista:")
print(serie_numeros)
print()

Serie desde lista:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# Crear Series con índices personalizados
serie_frutas = pd.Series([5, 3, 8, 2], index=['manzanas', 'naranjas', 'plátanos', 'uvas'])
print("Serie con índices personalizados:")
print(serie_frutas)
print()

Serie con índices personalizados:
manzanas    5
naranjas    3
plátanos    8
uvas        2
dtype: int64

In [4]:
# Crear Series desde un diccionario
ventas = {'enero': 1000, 'febrero': 1200, 'marzo': 900, 'abril': 1500}
serie_ventas = pd.Series(ventas)
print("Serie desde diccionario:")
print(serie_ventas)
print()

Serie desde diccionario:
enero      1000
febrero    1200
marzo       900
abril      1500
dtype: int64

**Acceso a elementos de una series**

In [5]:
# Acceso por índice posicional
print("Primer elemento:", serie_numeros[0])
print("Último elemento:", serie_numeros.iloc[-1])  # Usar iloc para acceso posicional
print()

# Acceso por etiqueta de índice
print("Ventas de marzo:", serie_ventas['marzo'])
print("Cantidad de manzanas:", serie_frutas['manzanas'])
print()

# Acceso a múltiples elementos
print("Primeros 3 elementos:")
print(serie_numeros[:3])
print()
print("Ventas de enero y abril:")
print(serie_ventas[['enero', 'abril']])
print()

Primer elemento: 10
Último elemento: 50

Ventas de marzo: 900
Cantidad de manzanas: 5

Primeros 3 elementos:
0    10
1    20
2    30
dtype: int64

Ventas de enero y abril:
enero    1000
abril    1500
dtype: int64

**Operaciones básicas con Series**

In [6]:
# Operaciones matemáticas
print("Serie original:")
print(serie_numeros)
print("\nSuma 5 a todos los elementos:")
print(serie_numeros + 5)
print("\nMultiplica por 2:")
print(serie_numeros * 2)
print()

# Operaciones estadísticas
print("Suma total:", serie_numeros.sum())
print("Promedio:", serie_numeros.mean())
print("Valor máximo:", serie_numeros.max())
print("Valor mínimo:", serie_numeros.min())
print()

Serie original:
0    10
1    20
2    30
3    40
4    50
dtype: int64

Suma 5 a todos los elementos:
0    15
1    25
2    35
3    45
4    55
dtype: int64

Multiplica por 2:
0     20
1     40
2     60
3     80
4    100
dtype: int64

Suma total: 150
Promedio: 30.0
Valor máximo: 50
Valor mínimo: 10

**Filtrado de Series**

In [7]:
# Filtrar elementos mayores a un valor
print("Frutas con más de 4 unidades:")
print(serie_frutas[serie_frutas > 4])
print()

# Filtrar con múltiples condiciones
print("Números entre 20 y 40:")
print(serie_numeros[(serie_numeros >= 20) & (serie_numeros <= 40)])
print()

Frutas con más de 4 unidades:
manzanas    5
plátanos    8
dtype: int64

Números entre 20 y 40:
1    20
2    30
3    40
dtype: int64

**Métodos útiles de Series**

In [8]:
# Información básica
print("Información de la serie:")
print(f"Tamaño: {serie_frutas.size}")
print(f"Forma: {serie_frutas.shape}")
print(f"Índice: {list(serie_frutas.index)}")
print(f"Valores: {list(serie_frutas.values)}")
print()

# Verificar valores nulos
serie_con_nulos = pd.Series([1, 2, None, 4, 5])
print("Serie con valores nulos:")
print(serie_con_nulos)
print("¿Hay valores nulos?:", serie_con_nulos.isnull().any())
print("Cantidad de valores nulos:", serie_con_nulos.isnull().sum())
print()

Información de la serie:
Tamaño: 4
Forma: (4,)
Índice: ['manzanas', 'naranjas', 'plátanos', 'uvas']
Valores: [5, 3, 8, 2]

Serie con valores nulos:
0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64
¿Hay valores nulos?: True
Cantidad de valores nulos: 1