**Importaci√≥n de librer√≠as y cargado de datos**

In [1]:
import pandas as pd
import numpy as np

print(F"Importaci√≥n ok. Versi√≥n de Pandas instalada = {pd.__version__}")
print(F"Importaci√≥n ok. Versi√≥n de NumPy instalada = {np.__version__}")

Importaci√≥n ok. Versi√≥n de Pandas instalada = 2.2.2
Importaci√≥n ok. Versi√≥n de NumPy instalada = 1.26.4

In [2]:
df = pd.read_csv("datos_ejemplo.csv")
df

    Regi√≥n Producto      Mes  Ventas  Unidades
0   Centro        A    Enero     305        48
1    Norte        A    Marzo     180        15
2   Centro        B    Marzo     661         8
3   Centro        B    Enero     971        14
4    Norte        A    Enero     487        23
5    Norte        A    Marzo     101        40
6   Centro        A  Febrero     489        21
7      Sur        C    Enero     665        16
8   Centro        C  Febrero     205        45
9   Centro        C  Febrero     871        18
10  Centro        B  Febrero     921        47
11  Centro        C    Enero     576        24
12   Norte        B  Febrero     802        26
13  Centro        B    Enero     501        25
14     Sur        C  Febrero     829        45
15   Norte        B    Marzo     655        41
16     Sur        C    Marzo     261        29
17     Sur        C    Enero     301        15
18     Sur        A    Marzo     369        45
19     Sur        C    Marzo     962         1

In [3]:
print("üìä DATOS ORIGINALES")
print(df.head())
print(f"\nShape: {df.shape}")

üìä DATOS ORIGINALES
   Regi√≥n Producto    Mes  Ventas  Unidades
0  Centro        A  Enero     305        48
1   Norte        A  Marzo     180        15
2  Centro        B  Marzo     661         8
3  Centro        B  Enero     971        14
4   Norte        A  Enero     487        23

Shape: (20, 5)

In [4]:
# Crear √≠ndice jer√°rquico con Regi√≥n y Producto
df_jerarquico = df.set_index(['Regi√≥n', 'Producto']).sort_index()  # ‚úÖ Ordenar el √≠ndice
print("DataFrame con √≠ndice jer√°rquico (Regi√≥n, Producto):")
df_jerarquico.head(8)

DataFrame con √≠ndice jer√°rquico (Regi√≥n, Producto):

                     Mes  Ventas  Unidades
Regi√≥n Producto
Centro A           Enero     305        48
       A         Febrero     489        21
       B           Marzo     661         8
       B           Enero     971        14
       B         Febrero     921        47
       B           Enero     501        25
       C         Febrero     205        45
       C         Febrero     871        18

In [5]:
# Acceso a datos espec√≠ficos
print("\nüìç Acceso a datos del Centro:")
df_jerarquico.loc['Centro']

üìç Acceso a datos del Centro:

              Mes  Ventas  Unidades
Producto
A           Enero     305        48
A         Febrero     489        21
B           Marzo     661         8
B           Enero     971        14
B         Febrero     921        47
B           Enero     501        25
C         Febrero     205        45
C         Febrero     871        18
C           Enero     576        24

In [6]:
print("\nüìç Acceso espec√≠fico - Centro, Producto A:")
df_jerarquico.loc[('Centro', 'A')]

üìç Acceso espec√≠fico - Centro, Producto A:

                     Mes  Ventas  Unidades
Regi√≥n Producto
Centro A           Enero     305        48
       A         Febrero     489        21

In [7]:
# Agrupamiento b√°sico por regi√≥n
print("üí∞ Ventas totales por regi√≥n:")
ventas_region = df.groupby('Regi√≥n')['Ventas'].sum()
print(ventas_region)

üí∞ Ventas totales por regi√≥n:
Regi√≥n
Centro    5500
Norte     2225
Sur       3387
Name: Ventas, dtype: int64

In [8]:
print("\nüì¶ Estad√≠sticas de unidades por producto:")
stats_producto = df.groupby('Producto')['Unidades'].agg(['mean', 'sum', 'count', 'min', 'max'])
print(stats_producto)

üì¶ Estad√≠sticas de unidades por producto:
               mean  sum  count  min  max
Producto
A         32.000000  192      6   15   48
B         26.833333  161      6    8   47
C         24.125000  193      8    1   45

In [10]:
print("\nüìÖ Ventas promedio por mes:")
ventas_mes = df.groupby('Mes')['Ventas'].mean().round(2)
print(ventas_mes)

üìÖ Ventas promedio por mes:
Mes
Enero      543.71
Febrero    686.17
Marzo      455.57
Name: Ventas, dtype: float64

In [11]:
# Aplicar m√∫ltiples funciones a la vez
print("üìä An√°lisis completo por regi√≥n:")
analisis_region = df.groupby('Regi√≥n').agg({
    'Ventas': ['sum', 'mean', 'count'],
    'Unidades': ['sum', 'max', 'min']
}).round(2)
print(analisis_region)

üìä An√°lisis completo por regi√≥n:
       Ventas               Unidades
          sum    mean count      sum max min
Regi√≥n
Centro   5500  611.11     9      250  48   8
Norte    2225  445.00     5      145  41  15
Sur      3387  564.50     6      151  45   1

In [12]:
print("\nüìà Resumen por producto:")
resumen_producto = df.groupby('Producto').agg({
    'Ventas': ['sum', 'mean'],
    'Unidades': 'sum'
}).round(2)
print(resumen_producto)

üìà Resumen por producto:
         Ventas         Unidades
            sum    mean      sum
Producto
A          1931  321.83      192
B          4511  751.83      161
C          4670  583.75      193

**Pivoteo de datos**

In [13]:
# Crear tabla pivote: Regiones vs Productos (suma de ventas)
print("üîÑ Tabla pivote - Ventas por Regi√≥n y Producto:")
pivot_ventas = df.groupby(['Regi√≥n', 'Producto'])['Ventas'].sum().unstack(fill_value=0)
print(pivot_ventas)

üîÑ Tabla pivote - Ventas por Regi√≥n y Producto:
Producto    A     B     C
Regi√≥n
Centro    794  3054  1652
Norte     768  1457     0
Sur       369     0  3018

In [14]:
print("\nüîÑ Tabla pivote - Unidades por Mes y Regi√≥n:")
pivot_unidades = df.groupby(['Mes', 'Regi√≥n'])['Unidades'].sum().unstack(fill_value=0)
print(pivot_unidades)

üîÑ Tabla pivote - Unidades por Mes y Regi√≥n:
Regi√≥n   Centro  Norte  Sur
Mes
Enero       111     23   31
Febrero     131     26   45
Marzo         8     96   75

**Despivoteo de datos**

In [15]:
# Despivotear la tabla anterior
print("üîÑ Despivoteo de la tabla de ventas:")
df_melted = pivot_ventas.reset_index().melt(
    id_vars=['Regi√≥n'],
    var_name='Producto',
    value_name='Ventas_Total'
)
print(df_melted[df_melted['Ventas_Total'] > 0])  # Solo mostrar valores > 0

üîÑ Despivoteo de la tabla de ventas:
   Regi√≥n Producto  Ventas_Total
0  Centro        A           794
1   Norte        A           768
2     Sur        A           369
3  Centro        B          3054
4   Norte        B          1457
6  Centro        C          1652
8     Sur        C          3018

In [16]:
print("\nüîÑ Despivoteo completo del DataFrame original:")
df_melt_completo = df.melt(
    id_vars=['Regi√≥n', 'Producto', 'Mes'],
    value_vars=['Ventas', 'Unidades'],
    var_name='M√©trica',
    value_name='Valor'
)
print(df_melt_completo.head(8))

üîÑ Despivoteo completo del DataFrame original:
   Regi√≥n Producto      Mes M√©trica  Valor
0  Centro        A    Enero  Ventas    305
1   Norte        A    Marzo  Ventas    180
2  Centro        B    Marzo  Ventas    661
3  Centro        B    Enero  Ventas    971
4   Norte        A    Enero  Ventas    487
5   Norte        A    Marzo  Ventas    101
6  Centro        A  Febrero  Ventas    489
7     Sur        C    Enero  Ventas    665

**Combinaci√≥n de datos**

In [17]:
# Crear DataFrames adicionales para demostrar combinaciones
df1 = df[df['Regi√≥n'] == 'Centro'][['Regi√≥n', 'Producto', 'Ventas']].head(3)
df2 = df[df['Regi√≥n'] == 'Norte'][['Regi√≥n', 'Producto', 'Ventas']].head(3)

print("DataFrame 1 (Centro):")
print(df1)
print("\nDataFrame 2 (Norte):")
print(df2)

DataFrame 1 (Centro):
   Regi√≥n Producto  Ventas
0  Centro        A     305
2  Centro        B     661
3  Centro        B     971

DataFrame 2 (Norte):
  Regi√≥n Producto  Ventas
1  Norte        A     180
4  Norte        A     487
5  Norte        A     101

In [18]:
# CONCATENACI√ìN
print("\nCONCATENACI√ìN con concat():")
df_concat = pd.concat([df1, df2], ignore_index=True)
print(df_concat)

CONCATENACI√ìN con concat():
   Regi√≥n Producto  Ventas
0  Centro        A     305
1  Centro        B     661
2  Centro        B     971
3   Norte        A     180
4   Norte        A     487
5   Norte        A     101

In [19]:
# Crear DataFrame de informaci√≥n adicional para merge
info_productos = pd.DataFrame({
    'Producto': ['A', 'B', 'C'],
    'Categor√≠a': ['Electr√≥nicos', 'Ropa', 'Hogar'],
    'Precio_Unitario': [25.50, 80.00, 45.75]
})

print("DataFrame de informaci√≥n de productos:")
print(info_productos)

DataFrame de informaci√≥n de productos:
  Producto     Categor√≠a  Precio_Unitario
0        A  Electr√≥nicos            25.50
1        B          Ropa            80.00
2        C         Hogar            45.75

In [20]:
# MERGE - diferentes tipos de uniones
print("\nMERGE - Uni√≥n INNER:")
df_inner = df.merge(info_productos, on='Producto', how='inner')
print(df_inner[['Regi√≥n', 'Producto', 'Ventas', 'Categor√≠a', 'Precio_Unitario']].head(5))

MERGE - Uni√≥n INNER:
   Regi√≥n Producto  Ventas     Categor√≠a  Precio_Unitario
0  Centro        A     305  Electr√≥nicos             25.5
1   Norte        A     180  Electr√≥nicos             25.5
2  Centro        B     661          Ropa             80.0
3  Centro        B     971          Ropa             80.0
4   Norte        A     487  Electr√≥nicos             25.5

In [21]:
print("\nMERGE - Uni√≥n LEFT:")
df_left = df.merge(info_productos, on='Producto', how='left')
print(f"Filas originales: {len(df)}, Filas despu√©s del merge: {len(df_left)}")

MERGE - Uni√≥n LEFT:
Filas originales: 20, Filas despu√©s del merge: 20

In [22]:
# Ejemplo pr√°ctico: Calcular ingresos totales
print("\nEJEMPLO PR√ÅCTICO - C√°lculo de ingresos:")
df_ingresos = df.merge(info_productos, on='Producto', how='left')
df_ingresos['Ingresos_Calculados'] = df_ingresos['Unidades'] * df_ingresos['Precio_Unitario']
df_ingresos[['Regi√≥n', 'Producto', 'Mes', 'Ventas', 'Unidades', 'Precio_Unitario', 'Ingresos_Calculados']].head()

EJEMPLO PR√ÅCTICO - C√°lculo de ingresos:

,Regi√≥n,Producto,Mes,Ventas,Unidades,Precio_Unitario,Ingresos_Calculados
0,Centro,A,Enero,305,48,25.5,1224.0
1,Norte,A,Marzo,180,15,25.5,382.5
2,Centro,B,Marzo,661,8,80.0,640.0
3,Centro,B,Enero,971,14,80.0,1120.0
4,Norte,A,Enero,487,23,25.5,586.5